@charset "UTF-8";
body {
  font-family: "Patrick Hand", cursive;
}

html{
  scroll-behavior:smooth;
}

@media (max-width: 930px) {
  body.lock {
    overflow: hidden;
  }
}

img {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper {
  overflow: hidden;
  overflow-x: hidden;
}

.container {
  padding: 0 20px;
  margin: 0px auto;
  max-width: 1600px;
}

.header {
  padding: 30px 0;
}

@media (max-width: 930px) {
  .header {
    padding: 20px 0;
  }
}

.header__menu-body {
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 931px) {
  .header__menu-body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 930px) {
  .header__menu-body {
    position: absolute;
    left: -100%;
    top: 0;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    padding: 100px 20px 0;
    -webkit-transition: 0.6s all ease 0s;
    transition: 0.6s all ease 0s;
  }
  .header__menu-body.active {
    left: 0;
    -webkit-transition: 0.6s all ease 0s;
    transition: 0.6s all ease 0s;
  }
}

@media (max-width: 425px) {
  .header__menu-body {
    width: 100%;
  }
}

@media (min-width: 931px) {
  .header__menu-item {
    padding: 0 18px;
  }
}

@media (max-width: 930px) {
  .header__menu-item {
    position: relative;
    margin-bottom: 35px;
    padding-bottom: 15px;
  }
  .header__menu-item.link-active {
    position: relative;
  }
  .header__menu-item.link-active:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #fff;
  }
  .header__menu-item:hover:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #fff;
  }
}

.header__menu-link {
  color: #fff;
  font-family: "Comfortaa", cursive;
  font-size: 22px;
}

@media (min-width: 931px) {
  .header__menu-link {
    padding: 0 25px 10px;
  }
  .header__menu-link.link-active {
    border-bottom: 2px solid #fff;
  }
  .header__menu-link:hover {
    border-bottom: 2px solid #fff;
  }
}

.header__burger {
  z-index: 300;
}

@media (max-width: 930px) {
  .header__burger {
    width: 35px;
    height: 32px;
    position: relative;
  }
  .header__burger:after, .header__burger:before, .header__burger span {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 3px;
    background: #fff;
  }
  .header__burger:after {
    top: 0;
  }
  .header__burger:before {
    bottom: 0;
  }
  .header__burger span {
    top: 14px;
  }
}

.intro {
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  background: url("../img/bg.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100Vh;
}

.presentation__title {
  text-align: center;
  font-size: 90px;
  color: #fff;
  margin-top: 90px;
}

@media (max-width: 490px) {
  .presentation__title {
    font-size: 55px;
  }
}

@media (max-width: 930px) {
  .presentation__title {
    margin-top: 60px;
  }
}

.orange-top {
  margin-top: 70px;
}

.orange-top img {
  margin-bottom: -2px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.orange {
  background: #fafafa;
}

.orange__container {
  margin: 0;
}

.orange__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 100px;
}

@media (min-width: 1441px) {
  .orange__content {
    padding: 100px 0;
  }
}

@media (max-width: 1440px) {
  .orange__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.orange__item {
  margin: 0px auto;
  padding: 0 40px;
}

@media (max-width: 768px) {
  .orange__item {
    padding: 0 20px;
  }
}

@media (min-width: 1441px) {
  .orange__item {
    margin: -150px auto 0;
    width: 50%;
  }
}

.orange__info {
  margin: 0px auto;
  text-align: justify;
  border-bottom: 5px solid #ee7353;
}

@media (min-width: 1441px) {
  .orange__info {
    max-width: 700px;
  }
}

@media (max-width: 1440px) {
  .orange__info {
    max-width: 1000px;
  }
}

.orange__info-title {
  font-size: 72px;
  color: #882029;
  font-weight: 600;
  text-align: center;
  padding-bottom: 30px;
}

@media (max-width: 490px) {
  .orange__info-title {
    font-size: 52px;
    line-height: 40px;
  }
}

.orange__info-text {
  font-size: 30px;
  color: #882029;
  line-height: 45px;
  padding-bottom: 30px;
}

.orange__info-text span {
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .orange__info-text {
    font-size: 30px;
  }
}

@media (max-width: 490px) {
  .orange__info-text {
    font-size: 25px;
    line-height: 40px;
  }
}

@media (min-width: 1441px) {
  .orange__img {
    width: 50%;
  }
}

@media (max-width: 1440px) {
  .orange__img {
    width: 80%;
    margin: 0px auto 60px;
  }
}

@media (max-width: 768px) {
  .orange__img {
    width: 90%;
    margin: 0px auto 60px;
  }
}

.orange__img img {
  width: 100%;
}

@media (min-width: 1441px) {
  .orange__img img {
    padding: 0 0px 0 70px;
  }
}

.orange-end img {
  margin-top: -2px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blue {
  background: #fafafa;
}

.blue__container {
  margin: 0;
}

.blue__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 100px;
}

@media (min-width: 1441px) {
  .blue__content {
    padding: 100px 0;
  }
}

@media (max-width: 1440px) {
  .blue__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blue__item {
  text-align: justify;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 768px) {
  .blue__item {
    padding: 0 20px;
  }
}

@media (min-width: 1441px) {
  .blue__item {
    margin: -150px auto 0;
    width: 50%;
  }
}

.blue__info {
  margin: 0px auto;
  border-bottom: 5px solid #758b98;
}

@media (min-width: 1441px) {
  .blue__info {
    max-width: 700px;
  }
}

@media (max-width: 1440px) {
  .blue__info {
    max-width: 1000px;
  }
}

.blue__info-title {
  font-size: 72px;
  color: #43525d;
  font-weight: 600;
  text-align: center;
  padding-bottom: 30px;
}

@media (max-width: 490px) {
  .blue__info-title {
    font-size: 52px;
    line-height: 40px;
  }
}

.blue__info-text {
  font-size: 30px;
  color: #43525d;
  line-height: 45px;
  padding-bottom: 30px;
}

.blue__info-text span {
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .blue__info-text {
    font-size: 30px;
  }
}

@media (max-width: 490px) {
  .blue__info-text {
    font-size: 25px;
    line-height: 40px;
  }
}

.blue__img {
  width: 50%;
}

@media (max-width: 1440px) {
  .blue__img {
    width: 80%;
    margin: 60px auto;
  }
}

@media (max-width: 768px) {
  .blue__img {
    width: 90%;
    margin: 60px auto;
  }
}

.blue__img img {
  width: 100%;
}

@media (min-width: 1441px) {
  .blue__img img {
    padding: 0 0px 0 70px;
  }
}

.blue-top img {
  margin-bottom: -2px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blue-end {
  background: #758b98;
}

.blue-end img {
  margin-top: -4px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products {
  margin-top: -4px;
  padding: 100px 0;
  background: #758b98;
}

.products__frame {
  position: relative;
  max-width: 800px;
  margin: 0px auto;
}

.products__frame-img {
  top: 0;
  width: 100%;
  position: relative;
  z-index: 5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.products__shell {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.products__slider {
  border-radius: 15% 0 0 0;
  position: absolute;
  top: 15%;
  height: 70%;
  width: 75%;
}

.products__slider-slide.slide1 {
  background: url("../img/mockup1.png");
  background-size: cover;
}

.products__slider-slide.slide2 {
  background: url("../img/mockup2.png");
  background-size: cover;
}

.products__slider-slide.slide3 {
  background: url("../img/mockup3.png");
  background-size: cover;
}

.products__slider-slide.slide4 {
  background: url("../img/mockup4.png");
  background-size: cover;
}

.products__slider-slide.slide5 {
  background: url("../img/mockup5.png");
  background-size: cover;
}

.products__slider-slide.slide6 {
  background: url("../img/mockup6.png");
  background-size: cover;
}

.products__slider .swiper-pagination {
  position: fixed;
}

.products__slider .swiper-pagination-bullet {
  height: 25px;
  width: 25px;
  background: #fff;
  opacity: 1;
}

@media (max-width: 769px) {
  .products__slider .swiper-pagination-bullet {
    height: 20px;
    width: 20px;
  }
}

.products__slider .swiper-pagination-bullet-active {
  background: #758b98;
  border: 4px solid #fff;
}

.products__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.products__btn-link {
  line-height: 35px;
  font-family: "Comfortaa", cursive;
  text-align: center;
  font-size: 25px;
  color: #fff;
}

.footer {
  margin-top: -4px;
  background: #758b98;
}

@media (min-width: 1921px) {
  .footer {
    padding-bottom: 100px;
  }
}

@media (max-width: 1920px) {
  .footer {
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 0 30px;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__content-title {
  font-size: 48px;
  color: #fff;
}

@media (min-width: 769px) {
  .footer__content-title {
    padding-right: 50px;
  }
}

@media (max-width: 768px) {
  .footer__content-title {
    font-size: 35px;
    margin-bottom: 20px;
  }
}

.footer__content-icon i {
  font-size: 35px;
  color: #fff;
}

.footer-bottom {
  background: #758b98;
}

.footer-bottom img {
  margin-top: -4px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
